body {
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Open Sans', sans-serif;
    width:96%;
}

.container {
    margin-left: 50px;
    margin-top: 30px;
}

.gridSection {
    width: 80%;
    float: right;
    margin: 0;
}

/* GRID LAYOUT */

.item {
  /*width: 200px;
  height: 250px;*/
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  border: 1px solid #dfe0ff;
  color: #D3D3D3;
}

.header {
    text-align: center;
}

.itemYear{
    height: 250px;
    font-size: 20px;
    text-align: center;
    margin-left: 30px;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.greyText {
    color: #D3D3D3;
}

.word:hover {
    cursor: pointer;
}

/* Category Filters */

.itemHeader:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s ease 0s;
    background: #D3D3D3;
}
.unselectedWord {
color: #D3D3D3;
}

.selectedCol {
    background: #C0C0C0;
    opacity: 0.6;
}
.itemYear:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease 0s;
}

/* Legend Key */
.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size:19px;
    color:#333;
}

.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.my-legend .legend-scale ul li {
    font-size: 16px;
    list-style: none;
    margin-left: 0;
    line-height: 14px;
    margin-bottom: 10px;
}

.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    cursor: default;
}

.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

.my-legend a {
    color: #777;
}

.my-legend {
    padding-top: 60px;
    position: fixed;
}

.legend:hover {
    cursor: pointer;
    opacity: 0.5;
}

.legend {
    font-size: 35px;
    text-align: center;
    margin: 10px 0px;
    transition: all 0.3s ease 0s;
    padding: 7px;
    border-radius: 10px;
    opacity: 0.5;
}
.legend-labels .selected {
    opacity: 1;
}

#wordcount {background:#d62728;}

#wordcount:hover {opacity: 0.7;}

#theme {background:#ff7f0e;}

#theme:hover {opacity: 0.7;}

#entity {background:#bcbd22;}

#entity:hover {opacity: 0.7;}

#query {background:#9467bd;}

#query:hover {opacity: 0.7;}

#category {background:#17becf;}

#category:hover {opacity: 0.7;}

.legend.year {background: #C0C0C0;}

.legend.year:hover {opacity: 0.7;}

.word:hover {
    position: relative;
}

/* word count 2015 */
.fbi {
    font-weight: bold;
    font-style: italic;
}

.fbi:hover:after {
    content: url(img/tweet_fbi.PNG); /* no need for qoutes */
    display: block;
    position: absolute;
  /*  left: 123px; /* change this value to one that suits you */
    right: 100px;
    top: 56px; /* change this value to one that suits you */
    z-index: 1;
}

/* theme 2015 */
.white-folks {
    font-weight: bold;
    font-style: italic;
}

.white-folks:hover:after {
    content: url(img/tweet_whitefolks.PNG); /* no need for qoutes */
    display: block;
    position: absolute;
    right: 100px;
    z-index: 1;
}

/*theme 2014 */
.Worthless-Currency-Exchange {
    font-weight: bold;
    font-style: italic;
}

.Worthless-Currency-Exchange:hover:after {
    content: url(img/tweet_worthless.PNG); /* no need for qoutes */
    display: block;
    position: absolute;
    right: 100px;
    z-index: 1;
}

/*themes 2012 */
.Oral-History {
    font-weight: bold;
    font-style: italic;
}

.Oral-History:hover:after {
    content: url(img/tweet_oralhistory.PNG); /* no need for qoutes */
    display: block;
    position: absolute;
    right: 100px;
    z-index: 1;
}

/* themes 2011 */
.sentimentColor25th-anniversary2011twitter {
    font-weight: bold;
    font-style: italic;
}

.sentimentColor25th-anniversary2011twitter:hover:after {
    content: url(img/tweet_25.PNG); /* no need for qoutes */
    display: block;
    position: absolute;
    right: 100px;
    z-index: 1;
}

/*theme 2010 */
.open-source-cell-phone-system {
    font-weight: bold;
    font-style: italic;
}

.open-source-cell-phone-system:hover:after {
    content: url(img/tweet_opensource.PNG); /* no need for qoutes */
    display: block;
    position: absolute;
    right: 100px;
    z-index: 1;
}

/* themes 2009 */
.sentimentColorlive-stream2009twitter {
    font-weight: bold;
    font-style: italic;
}

.sentimentColorlive-stream2009twitter:hover:after {
    content: url(img/tweet_livestream.PNG); /* no need for qoutes */
    display: block;
    position: absolute;
    right: 100px;
    z-index: 1;
}

.tech-titans {
    font-weight: bold;
    font-style: italic;
}

.tech-titans:hover:after {
    content: url(img/tweet_techtitans.PNG); /* no need for qoutes */
    display: block;
    position: absolute;
    right: 100px;
    z-index: 1;
}


.splash {
    background: url('../img/splash.jpg') center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 360px;
    z-index: 999;
    /*text-align: center;*/
    text-align: left;
 }

.splash-title {
    font-family: 'Roboto Slab';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

.splash-arrow {
    font-family: 'Open Sans';
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: #2b90d9;
    border: 2px solid #2b90d9;
    background: transparent;
    padding: 8px;
    font-size: 22px;
}

.splash-arrow:hover, .splash-arrow.-active {
    color: #FFFFFF;
    border-color: #2b90d9;
    background: #2b90d9;
    transition: all 0.3s ease 0s;
}

.button.-border {
  color: #2b90d9;
  border: 2px solid #2b90d9;
  background: transparent;
}
.button.-border:hover, .button.-border.-active {
    color: #FFFFFF;
    border-color: #2b90d9;
    background: #2b90d9;
    transition: all 0.3s ease 0s;
}

/*gradient legend */
.sentiment-my-legend .sentiment-legend-title {
text-align: left;
margin-bottom: 8px;
font-weight: bold;
font-size: 90%;
}
.sentiment-my-legend .sentiment-legend-scale ul {
margin: 0;
padding: 0;
float: left;
list-style: none;
width: 20%;
}
.sentiment-my-legend .sentiment-legend-scale ul li {
display: block;
float: left;
width: 45px;
margin-bottom: 6px;
text-align: center;
font-size: 80%;
list-style: none;
}
.sentiment-my-legend ul.sentiment-legend-labels li span {
display: block;
float: left;
height: 15px;
width: 50px;
}
.sentiment-my-legend .sentiment-legend-source {
font-size: 70%;
color: #999;
clear: both;
}
.sentiment-my-legend a {
color: #777;
}

.sentiment-my-legend{
    margin-bottom: 30px;
}
